<!DOCTYPE html>

{% extends 'main.html' %} 
{% load static %}

{% block content %}

<main>
    <section id="form-container">
        <img  id="logo" src="{% static 'images/chat-icon.png' %}" alt="">
        <div id="welcome-message">
            <h1>Welcome to VidChat</h1>
            <h4>An awesome video calling App just for You!</h4><hr>
        </div>
        <form action="" id="form">

            <div class="form-field">
                <input type="text" name="chatroom" id="" placeholder="Enter a room name..." style="text-transform: uppercase" />
            </div>

            <div class="form-field">
                <input type="text" name="name" id="" placeholder="Enter Your name..." style="text-transform: uppercase" />
            </div>

            <div class="form-field">
                <input type="Submit" value="Join Stream" />
            </div>

        </form>
    </section>
</main>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) =>{
        e.preventDefault()

        let chatroom = e.target.chatroom.value.toUpperCase()
        let name = e.target.name.value

        let response = await fetch(`/get_token/?channel=${chatroom}`)
        let data = await response.json()

        let UID = data.uid 

        let token = data.token 

       sessionStorage.setItem('UID', UID)
       sessionStorage.setItem('token', token)
       sessionStorage.setItem('chatroom', chatroom)
       sessionStorage.setItem('name', name)

        window.open('/chat-room/', '_self')
       
    }
    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}